* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1194px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.logo {
  display: flex;
  margin-right: 76px;
  align-items: center;
  text-decoration: none;
  color: black;
}
.logo-img {
  width: 58px;
}
.logo-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.search-form {
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}
.button-primary {
  background: #f47322;
  border: 1px solid #000000;
}
.button {
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  border: 1px solid #000000;
}
.button-default {
  background: #fff;
  color: #5f5f61;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.auth {
  margin-left: auto;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.shopping-cart {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
  position: relative;
}
.shopping-counter {
  display: block;
  background: #ffaf19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.slider {
  margin-bottom: 0px;
}
.slide {
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  width: 1190px;
  height: 399px;
}
.slide-summer {
  background-image: url(/img/summer-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-autumn {
  background-image: url(/img/autumn-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamins {
  background-image: url(/img/vitamin-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-text-light {
  background-color: gray;
  color: white;
  border-radius: 20px;
}
.slide-content {
  padding: 77px;
  position: relative;
}
.slide-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin-bottom: 15px;
  margin-top: 0;
}
.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 32px;
}
.slide::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}
.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-button {
  cursor: pointer;
}
.wrapper {
  margin-top: 0;
  width: 1194px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}
.promo {
  width: 570px;
  min-height: 380px;
  padding-top: 50px;
}
.card {
  margin: 0;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
}
.card:before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light {
  color: white;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 72px;
}
.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}
.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.card-image1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.delivery-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 47px;
}
.delivery-cards {
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.delivery-card {
  margin-bottom: 30px;
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}
.delivery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag {
  display: block;
  position: absolute;
  top: 16px;
  left: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 5px 10px;
  border-radius: 30px;
  color: #49494f;
}
.tag-health {
  background: #d0fd89;
}
.tag-vegetables {
  background: #aebc41;
  color: #ffffff;
}
.tag-meat {
  color: #ffffff;
  background: #b86b78;
}
.tag-bird {
  background: #d68334;
  color: #ffffff;
}
.tag-fish {
  background: #cd6255;
  color: #ffffff;
}
.tag-kids {
  color: #49494f;
  background: #fffdbf;
}
.tag-parents {
  color: #49494f;
  background: #f6fdc8;
}
.tag-celebration {
  color: #49494f;
  background: #fef7fe;
}
.section-gray {
  background: #f6f6f6;
}
.tabs-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  padding-top: 40px;
  margin-bottom: 0px;
}
.tabs-menu {
  display: flex;
  padding-left: 0;
  margin-bottom: 62 px;
  margin-top: 50px;
}
.tabs-item {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  list-style-type: none;
  margin-right: 58px;
}
.tabs-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
}
.tabs-link.active {
  font-size: 20px;
  line-height: 23px;
  color: #f37321;
}
.tabs-cards {
  display: flex;
  justify-content: space-between;
  padding: 62px 0;
}
.tab-card {
  max-width: 270px;
  background-color: white;
  border-radius: 20px;
}
.tab-card-img {
  max-width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.tab-description {
  padding: 0px 23px;
  margin-top: 21px;
}
.tab-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 13px;
}
.tab-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
  margin-bottom: 36px;
}
.tab-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
}
.tab-good-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  display: block;
}
.tab-good-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}
.button-outline {
  cursor: pointer;
  padding: 15px 20px;
  background-color: transparent;
  border: 2px solid #f37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
}
.button-center {
  margin: auto;
  display: block;
  width: 315px;
}
.button-class {
  padding-bottom: 60px;
}
.section-benifits {
  background: #e5e5e5;
}
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  padding-top: 100px;
  margin-bottom: 52px;
  margin-top: 0px;
}
.benifits-cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 202px;
}
.benifits-card {
  max-width: 240px;
  height: 296px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 18px;
}
.benifts-img {
  padding-top: 37px;
}
.benifits-descr-title {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}
.benifits-descr-text {
  margin-left: 24px;
  margin-right: 23px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}
.footer-description {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 40px 0;
}
.footer-img-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.footer-text {
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  color: #000000;
  margin-right: 62px;
}
.footer-nav-link {
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 50px;
}
.social-media {
  margin-left: auto;
  display: flex;
}
.social-link {
  margin-right: 20px;
}
.facebook {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #c4c4c4;
}
.facebook-icon {
  width: 18px;
  height: 18px;
  margin: 5px 5px;
}
@media (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
  .logo {
    margin-right: 0px;
  }
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  .sweet-basket {
    margin-right: 15px;
  }
  .minimum-effort {
    margin-left: 15px;
  }
  .tabs-cards {
    flex-wrap: wrap;
  }
  .tab-card {
    flex: 50%;
    min-width: calc(50% - 30px);
    margin-bottom: 30px;
  }
  .benifits-cards {
    flex-wrap: wrap;
  }
  .benifits-card {
    flex: 50%;
    min-width: calc(40% + 60px);
    margin-bottom: 30px;
  }
}
@media (max-width: 770px) {
  .container {
    width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
  }
  .promo {
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .benifits-cards {
    flex-wrap: wrap;
  }
  .benifits-card {
    flex: 50%;
    min-width: 70%;
    margin-bottom: 30px;
    margin-left: 90px;
  }
  .footer-description {
    text-align: inherit;
  }
}
